---
import Layout from '../layouts/Layout.astro';

const blogPosts = [
  {
    title: "Call for Participation: From Dead-Ends to Dialogue (DIS '25 Workshop)",
    date: "5/14/2025",
    readTime: "1 min read",
    description: "Announcing the Third Workshop on GenAI & Design Research at DIS 2025. Share your experiences overcoming semantic and practical stopsigns.",
    image: "/square-workshop.png",
    slug: "dis2025-workshop-announcement"
  },
  {
    title: "Exploring Psychometric Evaluation of LLMs: Our CHI 2025 HEAL Workshop Paper",
    date: "5/9/2025",
    readTime: "2 min read",
    description: "Reflections on presenting our research on using psychological scales to evaluate LLM experiences",
    image: "/images/publications/chi2025.png",
    slug: "heal"
  },
  {
    title: "Designing Positive AI: Successfully Defended my PhD Thesis",
    date: "5/8/2024",
    readTime: "1 min read",
    description: "Reflecting on my journey exploring how to design AI systems that enhance human wellbeing",
    image: "/tehsis.png",
    slug: "gotphd"
  },
  {
    title: "New Chapter: Starting as a postdoc at ITU",
    date: "1/15/2024",
    readTime: "1 min read",
    description: "Beginning my postdoc journey at the IT University of Copenhagen",
    image: "/itu.webp",
    slug: "movetoitu"
  }
];
---

<Layout title="Blog" description="">
  <section class="mt-10 max-w-2xl mx-auto px-6">
    <h1 class="font-bold text-3xl mb-1">Blog</h1>
    <p class="opacity-60 mb-14"></p>
    
    <div class="grid grid-cols-1 gap-10 sm:gap-6 mb-10">
      {blogPosts.map((post) => (
        <a href={`/blog/${post.slug}`} class="sm:flex sm:flex-row-reverse sm:justify-between sm:gap-6 post">
          <img 
            src={post.image} 
            alt={post.image} 
            class="rounded-lg w-[100px] h-[100px] object-cover" 
            width="100" 
            height="100" 
            loading="lazy" 
            decoding="async"
          />
          <div class="mt-4 sm:my-auto">
            <p class="opacity-60 mb-2">
              {post.date} · {post.readTime}
            </p>
            <h3 class="font-medium hover-underline">{post.title}</h3>
            <p class="text-sm opacity-60 mt-2 mb-3">{post.description}</p>
          </div>
        </a>
      ))}
    </div>
  </section>
</Layout>